<div class="container-fluid mx-auto">
        <div class="row justify-content-center top-part">
            <div class="col-md-6 text-center center-content">
                <div class="d-flex-inline">
                    <h3 class="footer-heading">Sosyal Medya Hesaplarımız</h3>
                </div>
                <div class="d-flex-inline"  style="height: 10px;">
                    <p>Sosyal medya hesaplarımıza aşağıdaki bağlantılardan ulaşabilirsiniz.</p>
                    <i style='font-size:24px' class='fab'><a href="https://www.instagram.com/unlemtab/" target="_blank">&#xf16d;</a></i>
                    <i style='font-size:24px' class='fab'><a href="https://www.youtube.com/channel/UCOvKB_NGWD8LAfOG3uqvP7A" target="_blank">&#xf167;</a></i>
                    <i style='font-size:24px' class='fab'><a href="https://discord.gg/C7CMEB5Dx2" target="_blank">&#xf392;</a></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="line mb-3 mx-auto"></div>
            <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
                <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                    <h3>!TAB</h3> <small>Copyright !Tab 2021</small>
                </div>
                <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                    <h5 class="places">Instagram</h5>
                    <p class="mb-0"><a href="https://www.instagram.com/unlemtab/" target="blank">!Tab Instagram</a></p>
                </div>
                <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                    <h5 class="places">Discord</h5>
                    <p class="mb-0"><a href="https://discord.gg/C7CMEB5Dx2" target="_blank" >!Tab Discord</a></p>
                </div>
                <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                    <h5 class="places">Youtube</h5>
                    <p class="mb-0"><a href="https://www.youtube.com/channel/UCOvKB_NGWD8LAfOG3uqvP7A" target="_blank">!Tab Youtube</a></p>
                </div>
            </div>
            <div class="line mb-3 mx-auto"></div>
        </div>
        <div class="row bottom-part">
            <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
                <div class="p-2 align-self-center flex-fill bd-highlight">
                    <div class="fa fa-facebook px-2"></div>
                    <div class="fa fa-linkedin px-2"></div>
                    <div class="fa fa-twitter px-2"></div>
                    <div class="fa fa-instagram px-2"></div>
                </div>
                <div class="p-2 row flex-fill bd-highlight justify-content-left">
                    <div class="p-2 d-lg-flex">
                        <div class="p-2 flex-fill d-flex bd-highlight"><a href="/">Anasayfa</a></div>
                        <div class="p-2 flex-fill d-flex bd-highlight"><a href="/about">Hakkımızda</a> </div>
                        <div class="p-2 flex-fill d-flex bd-highlight"><a href="#">Projelerimiz</a></div>
                        <div class="p-2 flex-fill d-flex bd-highlight"><a href="/article">Makaleler</a></div>
                    </div>
                </div>
                <div class="p-2 align-self-center flex-fill bd-highlight">
                    <div class="fa fa-mobile px-2 grey-text">&nbsp;&nbsp;<span id="contact">E-Posta Adresimiz</span></div>
                    <div class="fa fa-envelope-o px-2 grey-text"><p><a href="mailto:someone@example.com">msum9061@gmail.com</a></p></div>
                </div>
            </div>
        </div>
    </div>