<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deneme</title>
    <link rel="stylesheet" href="v.css">
    <link rel="stylesheet" href="f.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="v">
<ul class="list-group list-group-horizontal">
  <li class ="list-group-item" style="width: 60%; height: 100px;" ><h1>Paketlerimiz</h1> <p>asdfsd</p> </li>

</ul>
<div class="f">
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item" style="height: 120px; width: 15%;"></li>
  <li class="list-group-item" style="width: 15%;">x tl</li>
  <li class="list-group-item" style="width: 15%;">y tl</li>
  <li class="list-group-item" style="width: 15%;">z tl</li>
</div>
</ul>

<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item" style="width: 15%; height: 140px;"><h2>Açıklama</h2></li>
  <li class="list-group-item" style="width: 15%;"> <p>afdsdfdsgdfgfdg selam selam selam selam selam selam selam selam selam selam</p></li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item" style="width: 15%;">Cras justo odio</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item" style="width: 15%;">Cras justo odio</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item" style="width: 15%;">Cras justo odio</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item" style="width: 15%;">Cras justo odio</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item" style="width: 15%; height: 100px;">Teslimat</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item" style="width: 15%;">Cras justo odio</li>
  <li class="list-group-item" style="width: 15%;">Dapibus ac facilisis in</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
  <li class="list-group-item" style="width: 15%;">Morbi leo risus</li>
</ul>

</div>
</body>
</html>