{% extends 'base.html' %}

{% block body %}

    <div class="about-section">
        <h1>HAKKIMIZDA</h1>
        <p>Biz kimiz? Burada bizim hakkımızda kısaca bilgiye ulaşacaksınız.</p>
        <p>Ekibimizde kim hangi bölümde bunu da göreceksiniz.</p>
      </div>
      <br>
      <h2 style="text-align:center">EKİBİMİZ</h2>
     
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Oğuz.jpg') }}" alt="Oğuz" style="width:100%">
            <div class="container">
              <h2>Oğuz Kaan Ekin</h2>
              <p class="title">Back-end Developer</p>
              <p>18 yaşında developer.</p>
              <p>Merhaba ben Oğuz.Kendimi kısaca tanıtmam gerekirse Karaman şehrinde yaşayan ve robotik kodlamaya ilgili bir öğrenciyim.</p>
              <p><a href="mailto:someone@example.com">readykaan@gmail.com</a></p>
              <p><a href="https://www.instagram.com/__oguz_kaan__/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>

 <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Bugra.jpg') }}" alt="Buğra" style="width:100%">
            <div class="container">
              <h2>Nevzat Buğra Kuzucuk</h2>
              <p class="title">Front-End Developer</p>
              <p>19 yaşında developer.</p>
              <p>Merhaba ben Buğra.Ben kimim? Ben Antalya'da yaşayan ve Galatasaray fanatiği olan bir kişiyim.</p>
              <p><a href="mailto:someone@example.com">bgracmbm@gmail.com</a></p>
              <p><a href="https://www.instagram.com/bugrakuzucuk/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Erol.jpg') }}" alt="Erol" style="width:100%">
            <div class="container">
              <h2>Erol Aydemir</h2>
              <p class="title">Full-Stack Developer.</p>
              <p>19 yaşında developer.</p>
              <p>Merhaba ben Erol.Size kısaca kendimi tanıtayım.Antalya'da yaşayan ve yabancı dillerle ilgilenen bir öğrenciyim. </p>
              <p><a href="mailto:someone@example.com">erolaydemir27@gmail.com </a></p>
              <p><a href="https://www.instagram.com/erolaydemir273/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Beser.jpeg') }}" alt="Beşer" style="width:100%">
            <div class="container">
              <h2>Beşer Barak</h2>
              <p class="title">Designer</p>
              <p>20 yaşında developer.</p>
              <p>Merhaba ben Beşer.Peki ya ben kimim?Ben Mardin'de yaşayan ve sosyal medya için içerik üreten bir infuluencerim.</p>
              <p><a href="mailto:someone@example.com">beserb.4747@gmail.com</a></p>
              <p><a href="https://www.instagram.com/beserbarak/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Serhat.jpg') }}" alt="Serhat" style="width:100%">
            <div class="container">
              <h2>Serhat Aşan</h2>
              <p class="title">Manager</p>
              <p>20 yaşında ekip menajeri.</p>
              <p>Merhaba ben Serhat.Size kendimi kısaca tanıtmam gerekirse ben Antalya'da yaşayan ve Fenerbahçe aşığı olan bir kişiyim.</p>
              <p><a href="mailto:someone@example.com">asanserhat09@gmail.com</a></p>
              <p><a href="https://www.instagram.com/serhat_asann/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="Serhat" style="width:100%">
            <div class="container">
              <h2>Developer Aranıyor</h2>
              <p class="title">index</p>
              <p>indexindex</p>
              <p>indexindexindexindexindexindexindexindexindexindexindexindexindexindexindexindexindexindexindexindex</p>
              <p><a href="maillto:someone@example.com">indexindexindexindexindexindexindex</a></p>
              <p><a href="https://www.bilmemne/bosbos/" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a></p>
            </div>
          </div>
        </div>
            
    </div>


{% endblock  %}
