{% extends 'base.html' %}


{% block body %}
<h1 style = "padding-left:2%;">Makaleler</h1>
<hr>
{% if article %}

<h4 style = "padding-left:3%;">Konu : {{article.title}}</h4>
<hr>
 <h4 style = "padding-left:3%;">Yazar : {{article.author}}</h4>   
<hr>
<h5 style = "padding-left:3%;">Tarih : {{article.created_date}}</h5>
<hr>
<div style = "padding-left:3%;" >{{article.content | safe}} </div>


{% else %}
<div class="alert alert-warning">
    Böyle bir makale bulunmuyor.
</div>

{% endif %}
{% endblock body %}
