{% extends 'base.html' %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}


<div class="col-md-12">
        <div class="login_page">
            <div class="form">
                
                <form method = "post" >
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>




{% endblock body %}