{% extends 'base.html' %}

{% block body %}



<h2>Projeler</h2>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Hepsini Gör</button>
  <button class="btn" onclick="filterSelection('nature')"> Python</button>
  <button class="btn" onclick="filterSelection('cars')"> Web Tasarım</button>
  <button class="btn" onclick="filterSelection('people')"> Photoshop</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="{{ url_for('static', filename='img/python.jpg') }}" alt="a" style="width:100%">
      
      <p class="info">Python Projesi</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="{{ url_for('static', filename='img/python.jpg') }}" alt="b" style="width:100%">
      
      <p class="info">Python Projesi</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="{{ url_for('static', filename='img/python.jpg') }}" alt="c" style="width:100%">
      
      <p class="info">Python Projesi</p>
    </div>
  </div>

  <div class="column cars">
    <div class="content">
      <img src="{{ url_for('static', filename='img/web.jpg') }}" alt="d" style="width:100%">
      
      <p class="info">Web Tasarım</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="{{ url_for('static', filename='img/web.jpg') }}" alt="e" style="width:100%">
      
      <p class="info">Web Tasarım</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="{{ url_for('static', filename='img/web.jpg') }}" alt="f" style="width:100%">
      
      <p class="info">Web Tasarım</p>
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="{{ url_for('static', filename='img/p.jpg') }}" alt="g" style="width:100%">
      
      <p class="info">Photoshop</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="{{ url_for('static', filename='img/p.jpg') }}" alt="h" style="width:100%">
      
      <p class="info">Photoshop</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="{{ url_for('static', filename='img/p.jpg') }}" alt="i" style="width:100%">
      
      <p class="info">Photoshop</p>
    </div>
  </div>
<!-- END GRID -->



{% endblock body %}