{% extends 'base.html' %}

{% block body %}



<h2>PORTFOLIO</h2>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Hepsini Gör</button>
  <button class="btn" onclick="filterSelection('nature')"> Python</button>
  <button class="btn" onclick="filterSelection('cars')"> Web Tasarım</button>
  <button class="btn" onclick="filterSelection('people')"> Photoshop</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="" alt="a" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="" alt="b" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="" alt="c" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column cars">
    <div class="content">
      <img src="" alt="d" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="" alt="e" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="" alt="f" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="" alt="g" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="" alt="h" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="" alt="i" style="width:100%">
      
      <p class="info">Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->



{% endblock body %}