{% extends 'base.html' %}


{% block body %}
{% from "includes/formhelpers.html" import render_field %}


<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5"> <span class="circle"><i class="fa fa-check"></i></span>
                <form method = "post">
                <h5 class="mt-3">!TAB Ailemize Kayıt Ol <br> Ve daha çok içeriğe birlikte ulaşalım</h5> <small class="mt-2 text-muted">Web dillerinde ustalaşın: HTML, CSS ve javascript. Bu yol sizi temel web siteleri oluşturmaya ve ardından etkileşimli web uygulamaları oluşturmaya hazırlayacaktır.</small>
                <!-- içerik aynı kalıyor ama class verrek yapılıyor   -->
                {{ render_field(form.name,class="form-control") }}
                {{ render_field(form.username,class="form-control") }}
                {{ render_field(form.email,class="form-control") }}
                {{ render_field(form.password,class="form-control") }}
                {{ render_field(form.confirm,class="form-control") }}
                <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked> <label class="form-check-label" for="flexCheckChecked"> Sözleşme Koşullarını Kabul Ediyorum </label> </div> <button class="btn btn-primary mt-4 signup">Üye Ol</button>
                <div class="text-center mt-3"> <span>Sosyal Medya Adreslerimiz</span> </div>
                <div class="d-flex justify-content-center mt-4"> <span class="social"><i class="fa fa-google"></i></span> <span class="social"><i class="fa fa-facebook"></i></span> <span class="social"><i class="fa fa-twitter"></i></span> <span class="social"><i class="fa fa-linkedin"></i></span> </div>
                <div class="text-center mt-4"> <span>Zaten Üyeyim</span> <a href="/login" class="text-decoration-none">Giriş</a> </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock body %}



