.kart{
    margin-left: 12%;
    display: flex;
}
body {
    overflow-x: hidden;
    color: #fff
}

p {
    font-size: 14px
}

.container-fluid {
    background-color: black;
}

.top-part {
    background-color: #aeaabb;
}

.center-content {
    margin-top: 120px;
    margin-bottom: 120px
}

.btn-pink {
    border-radius: 0;
    background-color: #FF4081;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px
}

.btn-pink:hover {
    background-color: #F50057
}

.line {
    border-top: 1px solid #9cbfe7;
    width: 90% !important
}

.fa-mobile {
    font-size: 20px
}

#contact {
    font-size: 15px
}

.grey-text {
    color: lightgrey
}
a {
    text-decoration: none;
    color: #fff;
}





