.card{


    margin-right:0;
    margin-left: auto;
    display:block;
    
}

.card-title{

text-align: center;
}


.card-text{

text-align: center;

}


a{

    text-decoration: none;
    color: black;
}