@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap");
body,
html {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(yeni2.jpg);
  background-size: cover;
  background-position: center
}

body {
  font-family: "Cairo", sans-serif;
}

.register-panel {
  min-height: 100%;
}
.register-panel img {
  max-height: 25vh !important;
}
.register-panel-col input {
  background-color: #F6F6F6;
  border: none;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.45s;
  color: rgba(0, 0, 0, 0.7);
}
.register-panel-col input:focus {
  transform: scale(1.1);
  outline: none;
  color: black;
}
.register-panel-col button {
  background-color: rgba(0, 136, 255, 0.8);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  transition: all 0.45s;
}
.register-panel-col button:hover {
  background-color: rgba(0, 136, 255, 0.9);
}
.register-panel-col button:focus {
  background-color: #0088ff;
  outline: none;
}